---
BasedOnStyle: Google
AccessModifierOffset: '-4'
AlignEscapedNewlines: Left
AlignTrailingComments: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'true'
BinPackParameters: 'false'
BraceWrapping:
  AfterEnum: 'false'
  BeforeCatch: 'true'
  BeforeElse: 'true'
  BeforeLambdaBody: 'false'
  BeforeWhile: 'false'
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: 'false'
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: 'false'
ColumnLimit: '80'
DerivePointerAlignment: 'false'
#EmptyLineAfterAccessModifier: Leave
#EmptyLineBeforeAccessModifier: LogicalBlock
ExperimentalAutoDetectBinPacking: 'true'
FixNamespaceComments: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
MaxEmptyLinesToKeep: '10'
NamespaceIndentation: All
PenaltyBreakComment: '20'
PenaltyExcessCharacter: '5'
PointerAlignment: Middle
SortUsingDeclarations: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeCpp11BracedList: 'true'
SpacesBeforeTrailingComments: '1'
UseTab: Never

...
